

#body {
	padding: 0;
	margin: 0;
}

* {
	font-family: "Raleway";
}

img 
{
	
}

.flex {
	display: flex;
}

.top {
	margin-top: 10px;
}

.bigTop {
	margin-top: 30px;
}

.bigFont {
	font-size: 1.5em;
	font-weight: bold;
}

.middleFont {
	font-size: 1em;
	font-weight: bold;
}

.littleFont {
	font-size: 0.8em;
}


.fas {
	margin: auto;
	color: rgb(4, 100, 248);
	font-size: 1em;
}

#header {
	height: 100px;
	justify-content: space-between;
}

#logo {
	margin-left: 4%;
	margin-top: 30px;
}

.imgLogo {
	width: 23%;
}

#menu {
	margin-top: 0;
	margin-right: 20%;
}

.li {
	margin-left: 28%;
	height: 110px;
	list-style-type: none;
}

.li:hover {
	color: rgb(4, 100, 248);
	border-top: 2px solid rgb(4, 100, 248);
}

.contentOfLi {
	margin: auto;
}

.signUp {
	color: rgb(4, 100, 248);
}

.signUp:hover {
	border-top: 0px solid rgb(4, 100, 248);
}

#main {
	padding: 0 4% 4% 4%;
}

#search {
	justify-content: space-around;
}

#input {

}

.iconInput {
	position: relative;
	left: 3px;
	width: 4%;
	background: rgb(242, 242, 242);
	border-radius: 15px 0 0 15px;
}

.fa-map-marker-alt {
	color: black;
}

.textInput {
	height: 45px;
	width: 17%;
	padding-left: 15px;
	border: 1px solid rgb(242, 242, 242);
}

.buttonInput {
	position: relative;
	left: -1px;
	width: 10%;
	background: rgb(4, 100, 248);
	border-radius: 0 15px 15px 0;
}

.textButtonInput {
	color: white;
	margin: auto;
}

.allButtonsOfSearch {
	align-items: center;
}

.buttonOfSearch {
	position: relative;
	padding: 12px;
	margin-left: 2%;
	border: 2px solid rgb(242, 242, 242);
	border-radius: 25px;
}

.buttonOfSearch:hover {
	color: rgb(4, 100, 248);
	border: 2px solid rgb(160, 160, 160);
}

.buttonLogo {
	position: absolute;
	left: -3px;
	top: -2px;
	width: 46px;
	height: 46px;
	background: rgb(210, 230, 255);
	border-radius: 25px;
}

.logo {
	margin: auto;
}

.textButton {
	margin-left: 42px;
}

.exclamation {
	width: 1em;
	height: 1em;
	border-radius: 25px;
	border: 1px solid rgb(242, 242, 242);
}

.textAfterExclamation {
	margin-left: 0.5%;
}

.fa-info {
	font-size: 0.6em;
}

#houses {
	justify-content: space-between;
}

#examplesOfHouses {
	width: 60%;
	background: rgb(242, 242, 242);
	border-radius: 18px;
	padding: 2% 2%;
}

#someHousesPart1 {
	margin-top: 15px;
	justify-content: space-between;
}

#someHousesPart2 {	
	margin-top: 5px;
	justify-content: space-between;
}

.house {
	flex-direction: column;
	width: 30%;
	height: 13vw;
	margin: 11px;
	padding: 5px;
	background: white;
	border-radius: 18px;
	box-shadow: rgb(180, 180, 180) 1px 1px 20px;
}

.house:hover {
	box-shadow: rgb(255, 255, 255) 0px 0px 0px;
}

.imgHouse {
	border-radius: 13px 13px 0 0;
}

.imgHouse1 {
	height: 100%;
	background: url("./images/house1.jpg") no-repeat center;
    background-size: cover;
}

.imgHouse2 {
	height: 100%;
	background: url("./images/house2.jpg") no-repeat center;
    background-size: cover;
}

.imgHouse3 {
	height: 100%;
	background: url("./images/house3.jpg") no-repeat center;
    background-size: cover;
}

.imgHouse4 {
	height: 100%;
	background: url("./images/house4.jpg") no-repeat center;
    background-size: cover;
}

.imgHouse5 {
	height: 100%;
	background: url("./images/house5.jpg") no-repeat center;
    background-size: cover;
}

.imgHouse6 {
	height: 100%;
	background: url("./images/house6.jpg") no-repeat center;
    background-size: cover;
}

.detailsHousePart1 {
	
}

.detailsHousePart2 {
	
}

.showMore {
	margin-left: 2%;
}

#mostPopularsHouses {
	width: 29%;
	background: rgb(242, 242, 242);
	border-radius: 18px;
	padding: 2.5% 2.5%;
}

#mostPopulars {

}

.titleMostPopulars {
	color: black;
	justify-content: space-between;
}

.fa-chart-line {
	color: black;
}

.mostPopular {
	height: 10vw;
	margin-top: 22px;
	padding: 5px;
	background: white;
	border-radius: 18px;
	box-shadow: rgb(180, 180, 180) 1px 1px 20px;
}

.mostPopular:hover {
	box-shadow: rgb(255, 255, 255) 0px 0px 0px;
}

.imgMostPopular {
	width: 40%;
	border-radius: 13px 0 0 13px;
}

.imgMostPopular1 {
	height: 100%;
	background: url("./images/most_popular1.jpg") no-repeat center;
    background-size: cover;
}

.imgMostPopular2 {
	height: 100%;
	background: url("./images/most_popular2.jpg") no-repeat center;
    background-size: cover;
}

.imgMostPopular3 {
	height: 100%;
	background: url("./images/most_popular3.jpg") no-repeat center;
    background-size: cover;
}

.detailsMotPopular {

}

.wrapperActivities {
	display: grid;
	margin: auto;
	border-radius: 18px;
	padding-top: 2%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 3%;
	grid-template-rows: 12vw 3vw 3vw 13vw;
  	grid-auto-flow: column;
}

.activity {
	position: relative;
	flex-direction: column;
	border-radius: 18px;
	box-shadow: rgb(180, 180, 180) 1px 1px 20px;
}

.activity:hover {
	box-shadow: rgb(255, 255, 255) 0px 0px 0px;
}

.activityOne {
	grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 5;
    background: url("./images/activity1.jpg") no-repeat center;
    background-size: cover;
}

.activityTwo {
	grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background: url("./images/activity2.jpg") no-repeat center;
    background-size: cover;
}

.activityThree {
	grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    background: url("./images/activity3.jpg") no-repeat center;
    background-size: cover;
}

.activityFour {
	grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    background: url("./images/activity4.jpg") no-repeat center;
    background-size: cover;
}

.activityFive {
	grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background: url("./images/activity5.jpg") no-repeat center;
    background-size: cover;
}

.activitySix {
	grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    background: url("./images/activity6.jpg") no-repeat center;
    background-size: cover;
}

.imgActivity {
	height: 100%;
}

.detailsActivity {
	position: absolute;
	bottom: -3px;
	height: 50px;
	width: 100%;
	background: white;
	border-radius: 0 0 18px 18px;
}

#footer {
	height: 125px;
	padding: 30px;
	background: rgb(242, 242, 242);
}

.elementsOfFooter {
	width: 33%;
	margin-right: 15%;
}


































